@page
@model DeMozzWeb.Pages.CVs.AddModel
@{
}
<div class="container">
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-danger pl-3">Create Resume</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="CV.FN"></label>
            <input asp-for="CV.FN" class="form-control"/>
            <span asp-validation-for="CV.FN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CV.LN"></label>
            <input asp-for="CV.LN" class="form-control"/>
            <span asp-validation-for="CV.LN"  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CV.DateOfBirth"></label>
            <input asp-for="CV.DateOfBirth" type="date" class="form-control"/>
            <span asp-validation-for="CV.DateOfBirth"  class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <input hidden asp-for="@Model.x"/>
            <input hidden asp-for="@Model.y"/>
            <input hidden asp-for="@Model.v"/>


            <label asp-for="CV.Gender" style="padding-right:10px"></label>
            <div class="form-check form-check-inline">
              <input asp-for="CV.Gender" class="form-check-input" type="radio" value="Male" />
              <label class="form-check-label">Male</label>
            </div>
            
            <div class="form-check form-check-inline">
              <input asp-for="CV.Gender" class="form-check-input" type="radio" value="Female" />
              <label class="form-check-label">Female</label>
            </div>
            
            <div class="form-check form-check-inline">
              <input asp-for="CV.Gender" class="form-check-input" type="radio" value="Others"/>
              <label class="form-check-label">Others</label>
            </div>

            <span asp-validation-for="CV.Gender"  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CV.Nationality"></label>
            <select asp-for="CV.Nationality" asp-items="Model.Natio" class="form-select"></select>
            <span asp-validation-for="CV.Nationality"  class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="CV.Email"></label>
            <input asp-for="CV.Email" class="form-control"/>
            <span asp-validation-for="CV.Email"  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmEmail"></label>
            <input asp-for="ConfirmEmail" class="form-control"/>
            <span asp-validation-for="ConfirmEmail"  class="text-danger"></span>
        </div>
        
        <label asp-for="CV.Skills"></label><br />
        <div class="form-check mb-3">
            @foreach (var sk in @Model.skills)
            {
                <input class="form-check-input" name="CheckedSkills" type="checkbox" value="@sk" />
                <label class="form-check-label" >@sk</label><br />
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Upload your Resume</label>
            <input type="file"  name="Im" class="form-control"/>
            <span asp-validation-for="CV.File"  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Sum Validation</label>
            <input asp-for="sum" type="number" class="form-control" placeholder="@Model.x + @Model.y" value=""/>

            @*<script>
            function myFunction() {
              document.getElementById("sum").placeholder = "@Model.x + @Model.y";
            }
            </script>*@
        </div>
        
        
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-success" style="width:150px;">Create</button>
            <a asp-page="Index" class="btn btn-light mx-3" style="width:150px">Back to List</a>
        </div>
        
    </div>
</form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}