@page
@model DeMozzWeb.Pages.CVs.AddModel
@{
 
}
<div class="container">
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-danger pl-3">Create Resume</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Input.FN"></label>
            <input asp-for="Input.FN" class="form-control"/>
            <span asp-validation-for="Input.FN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Input.LN"></label>
            <input asp-for="Input.LN" class="form-control"/>
            <span asp-validation-for="Input.LN"  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.DateOfBirth"></label>
            <input asp-for="Input.DateOfBirth" type="date" class="form-control"/>
            <span asp-validation-for="Input.DateOfBirth"  class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <input hidden asp-for="@Model.x"/>
            <input hidden asp-for="@Model.y"/>
            <input hidden asp-for="@Model.v"/>


            <label asp-for="Input.Gender" style="padding-right:10px"></label>
            <div class="form-check form-check-inline">
              <input asp-for="Input.Gender" class="form-check-input" type="radio" value="Male" />
              <label class="form-check-label">Male</label>
            </div>
            
            <div class="form-check form-check-inline">
              <input asp-for="Input.Gender" class="form-check-input" type="radio" value="Female" />
              <label class="form-check-label">Female</label>
            </div>
            
            <div class="form-check form-check-inline">
              <input asp-for="Input.Gender" class="form-check-input" type="radio" value="Others"/>
              <label class="form-check-label">Others</label>
            </div>

            <span asp-validation-for="Input.Gender"  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.Nationality"></label>
            <select asp-for="Input.Nationality"  class="form-select" asp-items="@(new SelectList(Model.nationality,"Name","Name"))">
              <option value="" selected disabled>---Select your Nationality---</option>
            </select>
            <span asp-validation-for="Input.Nationality"  class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control"/>
            <span asp-validation-for="Input.Email"  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.ConfirmEmail"></label>
            <input asp-for="Input.ConfirmEmail" class="form-control"/>
            <span asp-validation-for="Input.ConfirmEmail"  class="text-danger"></span>
        </div>
        
        <label asp-for="Input.Skills"></label><br />
        <div class="form-check mb-3">
            @foreach (var sk in @Model.skills)
            {
                <input class="form-check-input" name="CheckedSkills" type="checkbox" value="@sk" />
                <label class="form-check-label" >@sk</label><br />
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Upload your Resume</label>
            <input type="file"  name="Im" class="form-control"/>
            <span asp-validation-for="Input.File"  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Sum Validation (@Model.x + @Model.y)</label>
            @if(@Model.sum == 0){
                <input asp-for="sum" type="number" class="form-control" placeholder="@Model.x + @Model.y" value=""/>
            }else{
                <input asp-for="sum" type="number" class="form-control" placeholder="@Model.x + @Model.y" value="@Model.sum"/>
            }
            

            @*<script>
            function myFunction() {
              document.getElementById("sum").placeholder = "@Model.x + @Model.y";
            }
            </script>*@
        </div>
        
        
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-success" style="width:150px;">Create</button>
            <a asp-page="Index" class="btn btn-light mx-3" style="width:150px">Back to List</a>
        </div>
        
    </div>
</form>
</div>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}