@page
@model DeMozzWeb.Pages.CVs.DetailsModel
@{
	string vv=null;
	for (var i = 0; i < @Model.Skills.Count; i++)
	{
		if (i == @Model.Skills.Count - 1)
		{
			vv += @Model.Skills[i];
		}
		else
		{
			vv += @Model.Skills[i] + ", ";        
		}    
	}
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="container p-3">
	<div style="float:right">
		<form method="post">
			<button id="btnPdf" class="btn btn-outline-info"><i class="bi bi-filetype-pdf"></i> Generate PDF</button>
			<input value="@Model.CV.Id"  name="@Model.CV.Id" type="hidden"/>
			
		</form>
	</div>
	

    <div id="pdf">
		<h1 class="text-warning mb-3">Details</h1>
        <h3><span class="text-info">First Name:</span> @Model.CV.FN</h3>
        <h3><span class="text-info">Last Name:</span> @Model.CV.LN</h3>
        <h3><span class="text-info">Gender:</span> @Model.CV.Gender</h3>
        <h3><span class="text-info">Date of Birth:</span> @Model.CV.DateOfBirth</h3>
        <h3><span class="text-info">Email:</span> @Model.CV.Email</h3>
        <h3><span class="text-info">Nationality:</span> @Model.CV.Nationality</h3>
        <h3><span class="text-info">Skills:</span> @vv</h3>
        <h3><span class="text-info">Grade:</span> @Model.CV.Grade</h3>
        
    </div>
    <div class="mt-3">
		@if (!string.IsNullOrWhiteSpace(@Model.CV.File))
		{
			<img src="@Model.CV.File" alt="Resume Image" width="100%" />
		}
	</div>
    
</div>


